body {
    margin-inline-end: 22%;
    margin-inline-start: 22%;
}

#cards {
    display: inline-flex;

}

.card-body {
    background: linear-gradient(to bottom right, rgba(84, 182, 38, 0.525) 39.09%, rgba(152, 100, 70, 0.546) 90.27%);


}

.card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;
}